@use "utilities";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;

  @include utilities.breakpoint(md) {
    position: fixed;
    top: 0rem;
  }
}

.main {
  margin-top: 8rem;

  @include utilities.breakpoint(md) {
    margin-top: 6rem;
  }
}

.container {
  margin: 1rem;

  @include utilities.breakpoint(md) {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 6rem;
  }
}

.section {
  &__products {
    .heading {
      margin-bottom: 2.2rem;
    }
  }
}
